.hidden {
    display: none;
}


body {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.stopwatch {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 280px;
}

#display {
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.buttons button {
    margin: 5px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
}